.reset-page-wrapper {
    background-color: #f9fdff;
    padding-top: 80px;
    text-align: center;
  }
  
  .reset-content h1 {
    color: #1488f5;
  }
  
  .reset-content form {
    width: 290px;
    margin: 0px auto;
  }
  
  .login-form-wrapper form {
    padding: 30px 20px;
    background-color: #fff;
    border-radius: 10px;
    display: inline-block;
    opacity: 0.8;
    margin-top: 100px;
  }
  
  .reset-content .input-icons {
    display: inline-block;
    margin-right: 5px;
  }
  
  .reset-content .form-control {
    display: inline-block;
    width: 270px;
    border: 0;
    border-bottom: 1px solid #ccc;
    box-shadow: none;
    border-radius: 0;
    padding-left: 0;
    text-transform: capitalize;
    background-color: transparent;
  }
  
  .reset-content .reset-btn {
    color: #fff;
    background-color: #0085f0;
    display: block;
    text-align: center;
    border-radius: 10px;
    text-transform: capitalize;
    padding: 7px 4px;
    margin-top: 30px;
    width: 100%;
    border: 0;
  }
  
  .reset-content .rest-btn:hover,
  .reset-content .rest-btn:focus {
    opacity: 0.8;
  }

  .resetpassword-title-panel{
    height: 150px;
  }