<div class="reset-page-wrapper">
  <div class="container-fluid">
    <div class="reset-logo">
      <img src="assets/images/logo.png" width="140" alt="logo">
    </div>
    <div class="reset-content">
      <div class="resetpassword-title-panel">
        <h1>Welcome!!</h1>
        <p>Before you are going to access the subscription portal,<br>Please reset your password</p>
        <p>{{errorMessage}}</p>
      </div>
      <div>
        <form [formGroup]="passwordConfirmForm" (ngSubmit)="resetPasswordSubmit()" novalidate>
          <div class="form-group">
            <span class="input-icons"><i class="fa fa-lock"></i></span>
            <input type="password" formControlName="password" class="form-control" placeholder="Enter new password">
          </div>
          <div class="form-group">
            <span class="input-icons"><i class="fa fa-lock"></i></span>
            <input type="password" formControlName="confirmPassword" class="form-control" placeholder="re-enter new password">
          </div>
          <div class="login-btn-wrap">
            <!-- <a href="#" type="submit" class="reset-btn">Reset</a> -->
            <input type="submit" value="Reset" class="reset-btn">
            <div class="clearfix"></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>