<div class="subscriptionToolsContainer">
  <div class="subscriptionToolsSubContainer">
    <div class="subscriptionToolsButtonContainer" routerLink="./feedback">
      <img src="assets/images/feedback.jpg" />
      <div class="subscriptionToolsTextContainer">Feedback</div>
    </div>
    <div class="subscriptionToolsButtonContainer" routerLink="./poll">
      <img src="assets/images/poll.jpg" />
      <div class="subscriptionToolsTextContainer">Poll</div>
    </div>
    <div class="subscriptionToolsButtonContainer" routerLink="./notice">
      <img src="assets/images/notice.jpg" />
      <div class="subscriptionToolsTextContainer">Notice Board</div>
    </div>
  </div>
</div>
