<div class="subscription-tool-top">
  <a routerLink="0" *ngIf="loginService.createPollAccess()" class="commonBtn">Add Poll</a>
  <a (click)="removePollModal(deletepoll)"  *ngIf="loginService.deletePollAccess()" class="commonBtn">Remove Poll</a>
</div>

<table class="scrollTable">
  <thead>
    <tr>
      <th class="chkBox">
        <label class="custom-control fill-checkbox">
          <input (change)="checkBoxEvent($event, 'selectAll')" type="checkbox" class="fill-control-input" />
          <span class="fill-control-indicator"></span>
        </label>
      </th>
      <th>Poll Text</th>
      <th>Type</th>
      <th>Created On</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of pollsList; let i = index">
      <td class="chkBox">
        <label class="custom-control fill-checkbox">
          <input [checked]="data.checkboxStatus" (change)="data.checkboxStatus = !data.checkboxStatus" type="checkbox"
            class="fill-control-input" />
          <span class="fill-control-indicator"></span>
        </label>
      </td>
      <td>
        <a>{{ data.pollText }}</a>
      </td>
      <td>
        {{
          data.pollType == 2 ? 'Multiple Choice' : data.pollType == 3 ? 'Rating Option' : data.pollType == 5 ? 'Image Option' : 'no options'
        }}
      </td>
      <td>{{ data.createDate | date: 'short' }}</td>
      <td>{{ data.liveResult ? 'Live Result/' : '' }}{{ data.colsePoll ? 'Close Poll' : 'Open Poll' }}</td>
    </tr>
  </tbody>
</table>

<ng-template #deletepoll let-modal>
  <div class="modal-body">
    <p>
      <strong>Are you sure you want to delete <span class="text-primary">poll</span>?</strong>
    </p>
    <p>
      All information associated to this poll will be permanently deleted.
      <span class="text-danger">This operation can not be undone.</span>
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="commonBtn" (click)="modal.dismiss('cancel')">Cancel</button>
    <button type="button" ngbAutofocus class="commonBtn red" (click)="modal.close('delete')">Delete</button>
  </div>
</ng-template>