<section>
  <div class="customer-management-wrapper">
    <div class="customer-panel">
      <a href="#" *ngIf="commonService.addCustomerAccess()" (click)="addCustomerModal(addCustomer)"
        class="commonBtn">Add Customer</a>
      <a href="#" *ngIf="commonService.removeCustomerAccess()" (click)="removeCustomerModal(deleteCustomer)"
        class="commonBtn">Remove Customer</a>
      <app-table-search [searchOptions]="searchOptions" (tableSearched)="searchTable($event)"></app-table-search>
    </div>

    <table class="scrollTable">
      <thead>
        <tr>
          <th class="chkBox">
            <label class="custom-control fill-checkbox">
              <input type="checkbox" (change)="checkboxEventListner($event)" class="fill-control-input" /> <span
                class="fill-control-indicator"></span>
            </label>
          </th>
          <th>Customer Name</th>
          <th>Contact Number</th>
          <th>Email Address</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of isSearch ? filteredTableData : organizationCustomers; let i = index">
          <td class="chkBox">
            <label class="custom-control fill-checkbox">
              <input type="checkbox" class="fill-control-input" [checked]="data.checkboxStatus"
                (change)="data.checkboxStatus = !data.checkboxStatus" />
              <span class="fill-control-indicator"></span>
            </label>
          </td>
          <td>{{ data.userData.firstName === '-' ? '-' : data.userData.firstName + ' ' + data.userData.lastName }}</td>
          <td>{{ data.userData.phone ? data.userData.phone : '-' }}</td>
          <td>{{ data.userData.email ? data.userData.email : '-' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<ng-template #addCustomer let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Add New Customer</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="add-customer-container">
      <div class="add-customer-wrapper">
        <form [formGroup]="newuserFormGroup" (ngSubmit)="addNewCustomer()">
          <div class="form-group">
            <span class="input-icons input-icons-lg"> <i class="fa fa-mobile" aria-hidden="true"></i> </span>
            <input class="form-control" placeholder="Enter Customer Mobile Number" type="number" name="phone" required
              formControlName="phoneNumber" />
          </div>
          <span class="or-separtor"> or </span>
          <div class="form-group">
            <span class="input-icons"> <i class="fa fa-envelope" aria-hidden="true"></i> </span>
            <input class="form-control" placeholder="Enter Customer Email Address" type="email" name="email" required
              formControlName="emailId" />
          </div>
          <div class="form-group">
            <small id="emailHelp" [ngClass]="{
              'text-danger': !phoneNumber.valid
            }" class="form-text text-muted">{{errormessage}}</small>
          </div>
          <div class="form-group">
            <input type="button" class="tap-common-btn" value="Cancel" (click)="modal.close('Close click')" />
            <input type="submit" class="tap-common-btn" value="Add" />
          </div>
        </form>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #deleteCustomer let-modal>
  <div class="modal-body">
    <p>
      <strong>Are you sure you want to delete <span class="text-primary">customer</span>?</strong>
    </p>
    <p>
      All information associated to this customer will be permanently deleted.
      <span class="text-danger">This operation can not be undone.</span>
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="commonBtn" (click)="modal.dismiss('cancel')">Cancel</button>
    <button type="button" ngbAutofocus class="commonBtn red" (click)="modal.close('delete')">Delete</button>
  </div>
</ng-template>